# Logs and artifacts
/logs
/artifacts
/outputs

# Ignore everything in data/ except .dvc files
data/processed/
creditcard.csv
data/raw/*
!data/raw/*.dvc

# Python cache
/src/components/__pycache__/
__pycache__/
**/__pycache__/
*.pyc

# macOS system files
.DS_Store
.env

# Folders
/docs
/archive

# MLflow tracking and artifacts
/mlruns
/mlartifacts
outputs/artifacts/preprocessor.pkl
