# Logs and artifacts
/logs
/artifacts

# Ignore everything in data/ except .dvc files
data/processed/
creditcard.csv
data/raw/*
!data/raw/*.dvc

# Python cache
/src/components/__pycache__/
__pycache__/
**/__pycache__/
*.pyc

# macOS system files
.DS_Store

# Environment files (all .env variants except CI)
.env
.env.*
!.env.ci

# Folders
/docs
/archive

# MLflow tracking and artifacts
/mlruns
/mlartifacts
outputs/artifacts/preprocessor.pkl
notebooks/data/processed/test_paysim.csv
notebooks/data/processed/train_paysim.csv
notebooks/data/processed/validation_paysim.csv
